body {
  background-image: url('./assets/Background2.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h3 {
  color: white;
  font-size: 1rem !important;
}

h4 {
  color: white;
  font-size: 0.9rem !important;
}

h5 {
  color: white;
  text-align: center;
  font-family: 'Kollektif-Bold';
}

.carousel:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 80%,
      rgb(0, 0, 0) 100%
    ),
    radial-gradient(
      farthest-side at center,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 80%,
      rgb(0, 0, 0) 100%
    );
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.nav-link {
  margin-right: 20px;
}

.nav-link-text {
  display: inline !important;
  text-shadow: 0 0 1px #006767, 0 0 20px #00ffff;
  margin-left: 10px;
  font-size: 1.5rem;
  @apply font-header uppercase;
  transition: text-shadow 0.3s ease;
}

.nav-link-text:hover {
  text-shadow: 0 0 5px #ff0000, 0 0 40px #ff0000;
}

.logo-link:hover {
  display: inline-block;
  animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}

.custom-card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.custom-card2 {
  background-color: rgba(0, 0, 0, 0.5) !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  backdrop-filter: blur(8px);
}

.custom-card:hover,
.custom-card2:hover {
  box-shadow: 0 5px 20px rgba(255, 0, 0, 0.5);
  transform: translateY(-5px);
}

.custom-card .card-img-top {
  height: 60px;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.smaller-card-text {
  color: rgb(212, 255, 0);
  justify-content: center !important;
}

h1 {
  color: white !important;
  font-weight: 700;
  font-size: 3.5rem !important;
  padding-left: 10px;
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
  animation: neon-glow 1.5s linear infinite alternate;
}

@keyframes neon-glow {
  from {
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
  }
  to {
    text-shadow: 0 0 10px rgba(0, 255, 255, 1), 0 0 3px rgba(0, 255, 255, 1),
      0 0 0px rgba(0, 255, 255, 1);
  }
}

.not-found-page {
  background: #000000;
  z-index: 1;
}

.imageInSquare {
  position: absolute;
}

.features {
  padding-top: 1px;
}

.imageInSquare {
  position: absolute;
}

.smaller-card-text2 {
  color: rgb(203, 100, 255);
}

.glowing-numbers {
  animation: glowing-animation 2s ease-in-out infinite;
}

.glowing-numbers {
  animation: glowing-animation 2s linear infinite;
}

@keyframes glowing-animation {
  0% {
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 100px #00ff00;
  }
  50% {
    text-shadow: 0 0 50px #00ff00, 0 0 40px #00ff00, 0 0 80px #00ff00;
  }
  100% {
    text-shadow: 0 0 0px #00ff00, 0 10 90px #00ff00, 0 0 80px #00ff00;
  }
}
